@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #3E3E3E;
  font-family: 'Khula', sans-serif;
}

body p, body a {
  font-family: 'Nunito Sans', sans-serif;
}

body a {
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
}

body .padding_top {
  padding: 80px 0px;
}

body .header_menu {
  padding-top: 20px;
}

body .header_menu .navbar .navbar-brand {
  margin-right: 100px;
}

body .header_menu .navbar .navbar-brand img {
  width: 92px;
  height: 32px;
}

body .header_menu .navbar .nav-item {
  margin-right: 20px;
}

body .header_menu .navbar .nav-item .nav-link {
  color: #B8B8B8;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Nunito Sans', sans-serif;
}

body .header_menu .navbar .nav-item .nav-link:hover {
  color: #282F65;
}

body .header_menu .navbar .top_btn a {
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Nunito Sans', sans-serif;
  color: #FFA800;
  border: 1px solid #FFA800;
  padding: 5px 20px;
  border-radius: 5px;
  text-transform: capitalize;
}

body .header_menu .navbar .top_btn a:hover {
  text-decoration: none;
}

body .header_main {
  margin-top: 20px;
}

body .header_main .header_bg {
  background-image: url("../img/pexels-pixabay-358636 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 45px;
  position: relative;
}

body .header_main .header_bg .header_text {
  margin-top: 80px;
  margin-bottom: 30px;
}

body .header_main .header_bg .header_text h2 {
  font-size: 50px;
  line-height: 72.8px;
  font-weight: 700;
}

body .header_main .header_bg .header_text h2 span {
  display: block;
  color: #fff;
}

body .header_main .header_bg .header_text p {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
}

body .header_main .header_bg .header_right {
  text-align: right;
}

body .header_main .header_bg .header_right img {
  width: auto;
  height: auto;
  margin-right: 52px;
  margin-bottom: 30px;
}

body .select_section {
  background-color: #fff;
  padding: 10px;
}

body .select_section .select_bg .box_shadow {
  -webkit-box-shadow: 5px 5px 5px #ddd;
          box-shadow: 5px 5px 5px #ddd;
  padding: 10px;
  position: absolute;
  left: 180px;
  bottom: 50px;
  background-color: #fff;
  border-radius: 5px;
}

body .select_section .select_bg .box_shadow .select-box-1 {
  -webkit-box-shadow: 0px 0px 0px #ddd;
          box-shadow: 0px 0px 0px #ddd;
  width: 100%;
}

body .select_section .select_bg .box_shadow .select-box-1 select {
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #F8F8F8;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  width: 100%;
  border: none;
}

body .select_section .select_bg .box_shadow .select-box-1 select option {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  outline: none;
  border: none;
  background: none;
}

body .select_section .select_bg .box_shadow .select-box-1 select:focus {
  outline: none;
}

body .select_section .select_bg .box_shadow .select-box-1 button {
  padding: 10px;
  background-color: #F8F8F8;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  width: 100%;
}

body .partnarship {
  margin-top: 150px;
}

body .partnarship .partnership-test h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 46px;
}

body .partnarship .partnership-test p {
  font-size: 14px;
  line-height: 24px;
}

body .partnarship .partnarship_logo img {
  margin-top: 20px;
}

body .partnarship_bottom .parnarship_right {
  margin-top: 35px;
}

body .partnarship_bottom .parnarship_right span {
  font-size: 14px;
  color: #24A5FB;
  text-transform: capitalize;
  position: relative;
}

body .partnarship_bottom .parnarship_right span::after {
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#18A0FB), to(#fff));
  background: linear-gradient(to right, #18A0FB, #fff);
  width: 50px;
  height: 2px;
  right: -60px;
  bottom: 7px;
  content: '';
}

body .partnarship_bottom .parnarship_right h2 {
  margin: 20px 0px;
  font-size: 36px;
  font-weight: 700;
}

body .partnarship_bottom .parnarship_right p {
  line-height: 24px;
  font-size: 16px;
}

body .partnarship_bottom .parnarship_right .partnarship_single {
  margin-top: 20px;
}

body .partnarship_bottom .parnarship_right .partnarship_single .partnarship_single_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .partnarship_bottom .parnarship_right .partnarship_single .partnarship_single_box .icon i.fas {
  font-size: 20px;
  margin-right: 20px;
  padding: 15px;
  background-color: #C0DFF8;
  border-radius: 10px;
}

body .partnarship_bottom .parnarship_right .partnarship_single .partnarship_single_box .site_content h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 0px;
}

body .partnarship_bottom .parnarship_right .partnarship_single .partnarship_single_box .site_content p {
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
}

body .about-section .about_header h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
}

body .about-section .about_header h2 span {
  display: block;
  position: relative;
  z-index: 1;
}

body .about-section .about_header h2 span::after {
  content: "";
  width: 50px;
  height: 60px;
  background-color: #18A0FB;
  left: 50%;
  top: 0px;
  margin-left: -30px;
}

body .about-section .single_about {
  margin-top: 50px;
  background-color: #fff;
  padding: 20px;
}

body .about-section .single_about:hover {
  border-bottom: 3px solid #FFA800;
  -webkit-box-shadow: 2px 4px 17px 1px #ddd;
          box-shadow: 2px 4px 17px 1px #ddd;
  -webkit-transition: all .3s;
  transition: all .3s;
}

body .about-section .single_about i.fas {
  font-size: 20px;
  background-color: #282F65;
  padding: 15px;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 30px;
}

body .about-section .single_about h4 {
  font-size: 16px;
  font-weight: 700;
}

body .about-section .single_about p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}

body .about-section .single_about .btn_more {
  margin-bottom: 20px;
}

body .about-section .single_about .btn_more a {
  padding: 5px 20px;
  color: #FFBD3E;
  border-radius: 5px;
  border: 1px solid #FFBD3E;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
}
/*# sourceMappingURL=style.css.map */